// ------------------ FORMATTING ------------------//
body {
}

// ------------------ SECTIONS ------------------//
.block--1 {
   background:  var(--background-primary);
}

.block--2 {
   background: var(--accent-rose-light);
}

.block--3 {
   background: var(--accent-moss-light);
}

.block--4 {
   background: var(--accent-honeydew-light);
}

.block--5 {
   background: var(--accent-alice-light);
}

.block--6 {
   background: var(--accent-sienna-light);
}