// ----------------- SCHEME -----------------//
:root {
   // Background
   --background-primary:   #EBE3D9;
   --background-secondary: #F0EBE7;
   --background-tertiary:  #F5F5F5;
   
   // Accent Colors
   --accent-sienna:         #E28459;
   --accent-rose:           #BE5468;
   --accent-moss:           #98A663;
   --accent-honeydew:       #59A86B;
   --accent-azure:          #48A5A7;
   --accent-alice:          #0089C1;
   --accent-amethyst:       #9774CC;
   
   --accent-rose-light:     #EBD9D8;
   --accent-sienna-light:   #FBEEE7;
   --accent-moss-light:     #E9EAD7;
   --accent-honeydew-light: #D7EAD8;
   --accent-azure-light:    #E4F3F3;
   --accent-alice-light:    #D7DFEA; 
   --accent-amethyst-light: #E9E1F4;
   
   --accent-sienna-low:   rgba(226, 132, 89, 0.06);
   --accent-rose-low:     rgba(190, 84, 104, 0.06);
   --accent-moss-low:     rgba(152, 166, 99, 0.06);
   --accent-honeydew-low: rgba(89, 168, 107, 0.06);
   --accent-azure-low:    rgba(72, 165, 167, 0.06);
   --accent-alice-low:    rgba(00, 137, 193, 0.06);
   --accent-amethyst-low: rgba(151, 116, 204,0.06);
   
   // Font Colors
   --txt-color-primary:   #242424;
   --txt-color-secondary: #3d3d3e;
   --txt-color-tertiary:  #4d4d4d;
   --txt-color-quarter:   #8F8F8F;
   
   // Gray Scale
   --black:           #242424;
   --dark-gray:       #303030;
   --gray:            #535353;
   --light-gray:      #888888;
   --white:           #F2F2F2;
   
   // Neutrals 
   --background-onyx: #43444D;
   
   // Opacity
   --background-low:     rgba(235, 227, 217, 0.12);
   --background-standar: rgba(240, 235, 231, 0.24);
   --background-mediun:  rgba(245, 245, 245, 0.36);
   
   --black-low:          rgba(36, 36, 36, 0.12);
   --black-standar:      rgba(36, 36, 36, 0.24);
   --black-medium:       rgba(36, 36, 36, 0.36);
   --gray-low:           rgba(83, 83, 83, 0.12);
   --gray-standar:       rgba(83, 83, 83, 0.24);
   --gray-mediun:        rgba(83, 83, 83, 0.36);
   --white-low:          rgba(242, 242, 242, 0.12);
   --white-standar:      rgba(242, 242, 242, 0.24);
   --white-medium:       rgba(242, 242, 242, 0.36);
   
   --soft-background:    rgba(138, 135, 130, 0.12);
   --standar-background: rgba(138, 135, 130, 0.24);
   --medium-background:  rgba(138, 135, 130, 0.36);
   --hard-background:    rgba(138, 135, 130, 0.44);
}

// ----------------- SIZES -----------------//
:root {
   // Paddings 
   --padd-minimus:  6px;
   --padd-normal:   12px;
   --padd-standar:  24px;
   --padd-medium:   30px;
   --padd-hight:    46px;
   
   // Margins 
   --marg-normal:   45px;
   --marg-medium:   66px;
   --marg-hight:    80px;
   
   // Relatives
   --size-min:     .84em;
   --size-normal:   1em;
   --size-standar:  1.25em;
   --size-medium:   1.8em;
   --size-hard:     2.6em;
}