@use '../utilities/_typo.scss' as *;

// ----------------- RESET ALL -------------------//
* {
   margin:          0;
   padding:         0;
   box-sizing:      border-box;
   scroll-behavior: smooth;
}

body {
   font-family: 'Roboto', Times New Roman;
   font-size:    16px;
}

hr {
   border:        1px solid var(--standar-backdrop);
   margin:        var(--padd-base) 0;
   border-radius: 99px;
}


// ----------------- RESET UI -------------------//
