.root__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.root__container .block__container {
  display: flex;
  flex-direction: column;
  gap: var(--padd-normal);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.root__container .block__container .block__container--content {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 0 1px var(--standar-background);
  flex-shrink: 0;
}
@media (width >= 540px) {
  .root__container {
    padding: var(--padd-normal);
    padding-left: var(--marg-hight);
  }
  .root__container .block__container--content {
    border-radius: var(--padd-medium);
  }
}
@media (width < 540px) {
  .root__container {
    padding-bottom: calc(var(--marg-hight) - var(--padd-normal));
  }
  .root__container .block__container--content:not(:first-child) {
    border-radius: var(--padd-normal) var(--padd-normal) 0 0;
  }
}

.layout__base {
  width: calc(100% - var(--padd-medium));
  max-width: 1024px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.min--text {
  font-size: 0.85rem;
  color: var(--gray);
}

.static--txt {
  user-select: none;
}

.icon__standar {
  display: inline-block;
  aspect-ratio: 1/1;
}
.icon__standar.model--s {
  width: 1rem;
  height: 1rem;
}
.icon__standar.model--l {
  width: 1.6rem;
  height: 1.6rem;
}
.icon__standar.model--x {
  width: 2.3rem;
  height: 2.3rem;
}
.icon__standar.model--xl {
  width: 3rem;
  height: 3rem;
}
.icon__standar svg {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
.icon__standar svg.standar--status {
  fill: var(--txt-color-quarter);
}

:root {
  --background-primary: #EBE3D9;
  --background-secondary: #F0EBE7;
  --background-tertiary: #F5F5F5;
  --accent-sienna: #E28459;
  --accent-rose: #BE5468;
  --accent-moss: #98A663;
  --accent-honeydew: #59A86B;
  --accent-azure: #48A5A7;
  --accent-alice: #0089C1;
  --accent-amethyst: #9774CC;
  --accent-rose-light: #EBD9D8;
  --accent-sienna-light: #FBEEE7;
  --accent-moss-light: #E9EAD7;
  --accent-honeydew-light: #D7EAD8;
  --accent-azure-light: #E4F3F3;
  --accent-alice-light: #D7DFEA;
  --accent-amethyst-light: #E9E1F4;
  --accent-sienna-low: rgba(226, 132, 89, 0.06);
  --accent-rose-low: rgba(190, 84, 104, 0.06);
  --accent-moss-low: rgba(152, 166, 99, 0.06);
  --accent-honeydew-low: rgba(89, 168, 107, 0.06);
  --accent-azure-low: rgba(72, 165, 167, 0.06);
  --accent-alice-low: rgba(00, 137, 193, 0.06);
  --accent-amethyst-low: rgba(151, 116, 204,0.06);
  --txt-color-primary: #242424;
  --txt-color-secondary: #3d3d3e;
  --txt-color-tertiary: #4d4d4d;
  --txt-color-quarter: #8F8F8F;
  --black: #242424;
  --dark-gray: #303030;
  --gray: #535353;
  --light-gray: #888888;
  --white: #F2F2F2;
  --background-onyx: #43444D;
  --background-low: rgba(235, 227, 217, 0.12);
  --background-standar: rgba(240, 235, 231, 0.24);
  --background-mediun: rgba(245, 245, 245, 0.36);
  --black-low: rgba(36, 36, 36, 0.12);
  --black-standar: rgba(36, 36, 36, 0.24);
  --black-medium: rgba(36, 36, 36, 0.36);
  --gray-low: rgba(83, 83, 83, 0.12);
  --gray-standar: rgba(83, 83, 83, 0.24);
  --gray-mediun: rgba(83, 83, 83, 0.36);
  --white-low: rgba(242, 242, 242, 0.12);
  --white-standar: rgba(242, 242, 242, 0.24);
  --white-medium: rgba(242, 242, 242, 0.36);
  --soft-background: rgba(138, 135, 130, 0.12);
  --standar-background: rgba(138, 135, 130, 0.24);
  --medium-background: rgba(138, 135, 130, 0.36);
  --hard-background: rgba(138, 135, 130, 0.44);
}

:root {
  --padd-minimus: 6px;
  --padd-normal: 12px;
  --padd-standar: 24px;
  --padd-medium: 30px;
  --padd-hight: 46px;
  --marg-normal: 45px;
  --marg-medium: 66px;
  --marg-hight: 80px;
  --size-min: .84em;
  --size-normal: 1em;
  --size-standar: 1.25em;
  --size-medium: 1.8em;
  --size-hard: 2.6em;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn.--primary {
  background: #007bff;
  color: #ffffff;
}
.btn.--primary:hover {
  background-color: #0056b3;
}
.btn--secondary {
  background-color: #6c757d;
  color: #fff;
}
.btn--secondary:hover {
  background-color: #5a6268;
}
.btn--success {
  background-color: #28a745;
  color: #fff;
}
.btn--success:hover {
  background-color: #218838;
}
.btn--danger {
  background-color: #dc3545;
  color: #fff;
}
.btn--danger:hover {
  background-color: #c82333;
}

a {
  text-decoration: none;
  color: inherit;
}

.input__switch.model--standar {
  display: inline-block;
}
.input__switch.model--standar input {
  display: none;
}
.input__switch.model--standar input:checked + .switch__toggle::after {
  transform: translateX(100%) translateY(-7px);
}
.input__switch.model--standar .switch__toggle {
  display: inline-flex;
  width: fit-content;
  background: var(--soft-background);
  padding: var(--padd-minimus);
  gap: var(--padd-normal);
  border-radius: var(--marg-hight);
  box-shadow: inset 0 0 0 1px var(--soft-background), 0 0 10px -5px var(--soft-background);
  position: relative;
  flex-grow: 0;
}
.input__switch.model--standar .switch__toggle::after {
  content: "";
  position: absolute;
  left: -3%;
  transform: translateY(-7px);
  display: block;
  background: var(--accent-sienna);
  width: var(--padd-medium);
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
}

.nav__menu {
  box-shadow: 0 0 100px -30px var(--medium-background);
  display: flex;
  gap: var(--padd-standar);
  background: var(--background-tertiary);
  padding: var(--padd-normal);
  position: fixed;
  transition: width 0.3s ease;
  z-index: 10000;
}
.nav__menu .top__area--logo {
  border-bottom: 2px solid var(--standar-background);
}
.nav__menu .top__area--logo .navbar-logotype {
  height: var(--marg-hight);
  padding-right: var(--padd-medium);
}
.nav__menu .top__area--logo .navbar-logotype .inline--logotext {
  color: var(--txt-color-tertiary);
  font-size: 1.2rem;
}
.nav__menu .navigation__area {
  height: 100%;
}
.nav__menu .bottom__area .theme__controler .side--hidden {
  margin-left: auto;
}
.nav__menu .nav-area-content {
  display: flex;
  width: 100%;
  gap: var(--padd-minimus);
}
.nav__menu .nav-area-content .side-area-item {
  width: 100%;
  align-items: center;
  border-radius: var(--padd-normal);
  overflow: hidden;
}
.nav__menu .nav-area-content .side-area-item .inline-option-nav {
  color: var(--txt-color-tertiary);
}
.nav__menu .nav-area-content .side-area-item.in--current {
  background: var(--accent-sienna-low);
  box-shadow: inset 0 0 0 1px var(--soft-background);
}
.nav__menu .nav-area-content .side-area-item.in--current .inline-option-nav {
  color: var(--accent-sienna);
}
.nav__menu .nav-area-content .side-area-item.in--current .icon__standar svg {
  fill: var(--accent-sienna);
}
.nav__menu .nav-area-content .side-area-item.in--current .side--hidden {
  font-weight: bold;
}
.nav__menu .nav-area-content .side-area-item .side--hidden {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}
@media (width >= 540px) {
  .nav__menu {
    flex-direction: column;
    width: var(--marg-hight);
    padding: calc(var(--padd-normal) * 1.25);
    top: 0;
    bottom: 0;
    left: 0;
  }
  .nav__menu .nav-area-content {
    flex-direction: column;
  }
  .nav__menu .nav-area-content .side-area-item {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: var(--padd-minimus);
    transition: grid-template-columns 0.3s ease, padding-right 0.3s ease;
  }
  .nav__menu .nav-area-content .side-area-item .side--hidden {
    opacity: 0;
    overflow: hidden;
  }
  .nav__menu:hover {
    width: calc(var(--marg-hight) + 300px);
    border-radius: 0 var(--padd-normal) var(--padd-normal) 0;
  }
  .nav__menu:hover .nav-area-content .side-area-item {
    grid-template-columns: auto 1fr;
    gap: var(--padd-standar);
    transition: grid-template-columns 0.2s ease, padding-right 0.2s ease, gap 0.4s ease 0.3s;
  }
  .nav__menu:hover .nav-area-content .side-area-item .side--hidden {
    opacity: 1;
    transition: opacity 0.6s ease 0.2s;
  }
  .nav__menu:hover .navigation__option:not(.in--current):hover {
    background: var(--soft-background);
  }
  .nav__menu:hover .bottom__area .side--hidden {
    overflow: visible;
  }
}
@media (width < 540px) {
  .nav__menu {
    height: var(--marg-hight);
    box-shadow: inset 0 1.5px 0 var(--standar-background);
    border-radius: var(--padd-normal) var(--padd-normal) 0 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .nav__menu .top__area--logo, .nav__menu .bottom__area {
    display: none;
  }
  .nav__menu .navigation__area .navigation__option {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--padd-minimus);
  }
  .nav__menu .navigation__area .navigation__option .inline-option-nav {
    font-size: 0.85rem;
  }
}

body {
  background: var(--background-tertiary);
  color: var(--txt-color-primary);
}

.block--1 {
  background: var(--background-primary);
}

.block--2 {
  background: var(--accent-rose-light);
}

.block--3 {
  background: var(--accent-moss-light);
}

.block--4 {
  background: var(--accent-honeydew-light);
}

.block--5 {
  background: var(--accent-alice-light);
}

.block--6 {
  background: var(--accent-sienna-light);
}

/*# sourceMappingURL=style.css.map */
