@use '../common/variables' as *;

//------------------- RESETTING -------------------//
button {
	border:     none;
	background: none;
}

//------------------- BASIC BUTTON -------------------//
/* <button> */ 
.simple-button {
	display:    inline-block;
	overflow:   hidden;
	transition: background .15s ease, transform .2s ease-out, filter .2s ease;
	
	/* <a> */
	.button-link {
		display:         flex;
		justify-content: center;
		align-items:     center;
		padding:         var(--padd-normal) var(--padd-medium);
		gap:             var(--padd-normal);
		
		/* <span> - text */
		.linked-tagline-btn {
			display:       inline-block;
			text-overflow: ellipsis;
			white-space:   nowrap;
			overflow:      hidden;
			font-size:     var(--size-normal);
			font-weight:   400;
		}
	}
	
	/* button: */
	&.model-light {
		border:     1px solid;
		background: none;
		
		&.cta {
			border-color: var(--accent-color);
			color:        var(--accent-color);
			
			&:hover {
				background: var(--accent-color);
				
				.linked-tagline-btn {
		         color: var(--white); /* may Change */
				}
			}
		}
		/* EXAMPLES: */
		/* &.basic {...} */
		/* &.classic {...} */
	}
	&.model-filled {
		box-shadow: inset 0 0 0 1px var(--standar-backdrop);

		&.cta {
			background: var(--accent-color);
			color:      var(--white); /* may change */
			
			&:hover {
				filter: brightness(0.90);
			}
		}
		/* EXAMPLES:
		&.basic {...}
		&.classic {...} */
	}
	
	/* Shape */
	&.type--circular {
		border-radius: 999px;
	}
	&.type--rounded {
		border-radius: var(--padd-normal);
	}
	
	/* State */
	&.is--desative {
		opacity: 0.60;
	}
	
	/* Dinamism */
	&:active {
		transform: scale(0.96);
	}
}