//-------------------- FLOAT CONTROL PANEL --------------------//
.control__panel {
   display:       flex;
   position:      fixed;
   align-items:   center;
   gap:           var(--padd-minimus);
   background:    var(--background-tertiary);
   padding:       var(--padd-minimus);
   border-radius: 999px;
   box-shadow:    inset 0 0 0 1px var(--standar-backdrop);
   z-index:       10000;
   transition:    width .3s ease;
   animation:     scroll-right 1s ease 2s backwards, blinding 14s ease 3.5s infinite;
   
   .control--button {
      display:         inline-flex;
      align-items:     center;
      justify-content: center;
      height:          100%;
      aspect-ratio:    1 / 1;
      padding:         var(--padd-normal);
      border-radius:   50%;
      
      &.button-whatsapp {
         background: var(--accent-honeydew);
         
         svg {
            fill: var(--white);
         }
      }
      &.button-instagram {
         background: var(--accent-rose);
         opacity:    0;
         
         svg {
            fill: var(--white);
         }
      }
   }
   
   .control__panel--buttons {
      display:      inline-flex;
      gap:          var(--padd-minimus);
      margin-right: calc(var(--marg-medium) * -0.85);
      height:       100%;
      transition:   margin-right .3s ease;
   }

   .panel--input {
      display: none;
      
      &:checked~.control__panel--buttons {
         margin-right: 0;
         
         .button-instagram {
            opacity:    1;
            transition: opacity .3s ease .3s;
         }
      }
   }
   
   &:has(.panel--input:checked) {
      animation: none;
   }
   
   // On Desktop
   @media (width > 540px) {
      bottom: var(--padd-medium);
      right: var(--padd-medium);
   }
   
   
   // On Mobile
   @media (width <= 540px) {
      bottom:       calc(var(--marg-hight) + var(--padd-base));
      right:        var(--padd-minimus);
      margin-right: calc(var(--marg-medium) * -1);
      
      &:has(input[type="checkbox"]:checked) {
         margin-right: var(--padd-minimus);
         transition:   margin-right .3s ease;
      }
   }
}

@keyframes scroll-right {
   from {
      transform: translateX(500px);
   }
   to {
      transform: translateX(0px);
   }
}

@keyframes blinding {
   0% {
      transform: rotate(0deg);
   }
   3% {
      transform: rotate(4deg) scale(1.2);
   }
   6% {
      transform: rotate(-5deg) scale(0.8);
   }
   12% {
      transform: rotate(3deg) scale(1.1);
   }
   15% {
      transform: rotate(0deg) scale(1);
   }
   15.1%, 100% {
      transform: rotate(0deg) scale(1); /* Estado final en pausa */
   }
}

