// -------------------- INPUT SWITCH --------------------//
.input__switch.model--standar {
   display: inline-block;
   
   input {
      display: none;
      
      &:checked+.switch__toggle::after {
         transform: translateX(100%) translateY(-7px);
      }
   }
   
   .switch__toggle {
      display:       inline-flex;
      width:         fit-content;
      background:    var(--soft-backdrop);
      padding:       var(--padd-minimus);
      gap:           var(--padd-normal);
      border-radius: var(--marg-hight);
      box-shadow:    inset 0 0 0 1px var(--soft-backgdrop), 0 0 10px -5px var(--soft-backgdrop);
      position:      relative;
      flex-grow:     0;
      
      &::after {
         content:       "";
         position:      absolute;
         left:          -3%;
         transform:     translateY(-7px);
         display:       block;
         background:    var(--accent-sienna);
         width:         var(--padd-medium);
         border-radius: 50%;
         aspect-ratio:  1/1;
         transition:    transform .3s ease;
      }
   }
}