//-------------------- ICON MODELS --------------------//
.icon__standar {
   display:         inline-flex;
   justify-content: center;
   align-items:     center;
   aspect-ratio:    1/1;
   /* height:          fit-content; */
   
   &.model--s {
      width:  1em;
      height: 1em;
   }
   &.model--l {
      width:  1.6em;
      height: 1.6em;
   }
   &.model--x {
      width:  2.3em;
      height: 2.3em;
   }
   &.model--xl {
      width:  3em;
      height: 3em;
   }
   
   svg {
      display:      block;
      width:        100%;
      height:       auto;
      
      &.standar--status {
         fill: var(--txt-color-quarter);
      }
   }
}