//------------------- EFFECTS -------------------//
// Normal Shadow
@mixin shadow-base {
   box-shadow: 0 0 100px -30px var(--medium-background);
}
// Color Shadow
@mixin shadow-colored($shadow-color) {
   box-shadow: 0 0 100px -30px $shadow-color;
}


//------------------- BUTTON EFFECT -------------------//
@mixin solid-shadow($shadow-color) {
   box-shadow: 1.5px 6.3px 0 $shadow-color, 0 0 0 2px $shadow-color;
}

