// ----------------- SCHEME -----------------//
:root {
   // Background
   --background-primary:   #EBE3D9;
   --background-secondary: #F0EBE7;
   --background-tertiary:  #F5F5F5;
   
   // Accent Colors
   --accent-color:          #303030;
   --accent-sienna:         #E28459;
   --accent-rose:           #BE5468;
   --accent-moss:           #98A663;
   --accent-honeydew:       #59A86B;
   --accent-azure:          #48A5A7;
   --accent-alice:          #0089C1;
   --accent-amethyst:       #9774CC;
   
   --accent-rose-light:     #EBD9D8;
   --accent-sienna-light:   #FBEEE7;
   --accent-moss-light:     #E9EAD7;
   --accent-honeydew-light: #D7EAD8;
   --accent-azure-light:    #DAE7E0;
   --accent-alice-light:    #D7DFEA; 
   --accent-amethyst-light: #E9E1F4;
   
   --accent-sienna-rgb:   255, 116, 89;
   --accent-rose-rgb:     237, 73, 104;
   --accent-moss-rgb:     168, 207, 99;
   --accent-honeydew-rgb: 89, 223, 123;
   --accent-azure-rgb:    42, 186, 190;
   --accent-alice-rgb:    00, 137, 221;
   --accent-amethyst-rgb: 151, 116, 255;
   
   // Font Colors
   --txt-color-primary:   #242424;
   --txt-color-secondary: #3d3d3e;
   --txt-color-tertiary:  #4d4d4d;
   --txt-color-quarter:   #8F8F8F;
   
   // Gray Scale
   --black:           #242424;
   --dark-gray:       #303030;
   --gray:            #535353;
   --light-gray:      #888888;
   --white:           #F2F2F2;
   
   // Neutrals 
   --background-onyx: #43444D;
   
   // Opacity
   --background-low:     rgba(235, 227, 217, 0.12);
   --background-standar: rgba(240, 235, 231, 0.24);
   --background-medium:  rgba(245, 245, 245, 0.36);
   
   --black-low:          rgba(36, 36, 36, 0.12);
   --black-standar:      rgba(36, 36, 36, 0.24);
   --black-medium:       rgba(36, 36, 36, 0.36);
   --gray-low:           rgba(83, 83, 83, 0.12);
   --gray-standar:       rgba(83, 83, 83, 0.24);
   --gray-mediun:        rgba(83, 83, 83, 0.36);
   --white-low:          rgba(242, 242, 242, 0.12);
   --white-standar:      rgba(242, 242, 242, 0.24);
   --white-medium:       rgba(242, 242, 242, 0.36);
   
   --soft-backdrop:    rgba(138, 135, 130, 0.12);
   --standar-backdrop: rgba(138, 135, 130, 0.24);
   --medium-backdrop:  rgba(138, 135, 130, 0.36);
   --hard-backdrop:    rgba(138, 135, 130, 0.44);
}

// ----------------- SIZES -----------------//
:root {
   // Paddings 
   --padd-minimus:  6px;
   --padd-normal:   12px;
   --padd-base:     16px;
   --padd-standar:  24px;
   --padd-medium:   30px;
   --padd-hight:    46px;
   
   // Margins 
   --marg-normal:   45px;
   --marg-base:     50px;
   --marg-medium:   66px;
   --marg-hight:    80px;
   
   // Relatives
   --size-min:     .84rem;
   --size-normal:   1rem;
   --size-base:     1.4rem;
   --size-standar:  1.25rem;
   --size-medium:   1.8rem;
   --size-hard:     2.6rem;
}